.videoGallery {
  padding: 80px 20px;
  background-color: var(--primary-bg-color);
  text-align: center;
}

.title {
  font-family: var(--font-family-primary);
  font-size: var(--gallery-title-size);
  margin-bottom: 40px;
  position: relative;
  color: var(--primary-text-color);
}

.title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 3px;
  background-color: var(--accent-color);
  transform: translateX(-50%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.videoItem {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.videoItem iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media Query for smaller devices */
@media (max-width: 768px) {
  .title {
    font-size: 28px; /* Reduce title size on small screens */
  }

  .grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Reduce minimum video width */
    gap: 15px; /* Reduce space between videos */
  }

  .videoItem {
    padding-bottom: 75%; /* Adjust video aspect ratio for small screens */
  }
}

/* Media Query for very small mobile phones */
@media (max-width: 480px) {
  .title {
    font-size: 24px; /* Reduce title even more on very small screens */
  }

  .grid {
    grid-template-columns: 1fr; /* Single video per row on very small screens */
  }
}
